:root {
  --text-color: var(--#222);
  --contrast: var(--#c1bb63);
  --active: var(--#044a04);
  --accent-dark: var(--#68273d);
  --accent: var(--#d2570a);
  --accent-light: var(--#e7bfbf);
  --text-light: var(--#d1c2ae);
  --default: var(--#2a2a2a);
}
